p {
  margin: 0;
}

.hero {
  height: 100vh;
  background: linear-gradient(180deg, #E3E7FC 0%, #FDF7FF 100%);
  border-radius: 15px;

  .wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 34px;


    .welcome-text {
      font-family: 'Lato', sans-serif;
      text-align: center;
      color: #2B307A;
      font-size: 18px;
      line-height: 26px;
    }
  }
}


